.rss {
    fill: #BABABA;
}
.rss:hover {
    fill: #FFA500;
}
.small-font {
    font-size: small;
}
.mw8 {
    max-width: 86rem !important;
}

.highlight-box {
  border: 2px solid #ccc;
  background: #f9f9f9;
  padding: 1rem;
  border-radius: 8px;
  margin: 1.5rem 0;
}